.second__section {
    max-width: 100%;
    margin: 50px auto;
    display: flex;

    &-imagem {
        width: 50%;
    }

    &-conteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;

        h2 {
            font-size: 2rem;
            color: $cor-secundaria;
            font-weight: 800;
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            color: $cor-secundaria;
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 20px;

            li {
                display: flex;
                gap: 10px;
                align-items: center;

                i {
                    color: $cor-primaria;
                }

                p {
                    font-size: 1rem;
                    color: $cor-secundaria;
                }
            }
        }

        a {
            width: 150px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            padding: 10px 20px;
            border-radius: 10px;
            background-color: $cor-primaria;
            font-size: 1rem;
            color: $cor-branco;
            transition: .5s;
            z-index: 999;
        }

        a:hover {
            background-color: $cor-secundaria;
            color: $cor-primaria;
        }
    }
}